body{
    background-color: bisque;
    color: rgb(46, 46, 89);
}

img{
    width: 200px;
    height: auto;
}
p {
    font font-family
}
.subparrafo {
    font-size: 3.1em;
}
#primero{
    color:blue
}